body {
  font-family: 'Nunito', sans-serif;
}

header {
  background: #0d0f10;
  display: flex;
  height: 120px;
  justify-content: space-around;
  width: 100%;
}

.header--logo {
  display: flex;
}

.header--logo img {
  height: 100px;
}

.header--title {
  color: #ffffff;
  display: flex;
  font-size: 2vw;
  align-items: center;
}

#gridContainer {
  display: flex;
  margin: 2vh 0;
}

footer {
  bottom: 0;
  padding-top: 15%;
  position: fixed;
  width: 100%;
}

.footer {
  height: 75px;
  display: flex;
  background: #0d0f10;
  justify-content: space-evenly;
  align-items: center;
}

.footer--logo {
  border: none;
  padding-right: 10vw;
}

.footer--logo img {
  height: 50px;
  margin-right: 15px;
  opacity: 0.5;
}

.footer--credits {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 960px) {
  .header--logo {
    display: none;
  }
  .header--title {
    text-align: center;
  }
}
